<h3 style="text-align: center">About</h3>
<hr>
<h4>Dictionary is an app that allows people to view a list of saved words. The user can click on the word to vew the definitions of the certain word. <br><hr> The user can add new words and definitions to the said words. The user can also add more than one definition to a certain word.<br><hr> THe app was created by Newton so as to be able to save new words that you learn in your day today life. Live long and prosper</h4><hr>
