<div class="jumbotron">
  <h1 style="text-align: center">Dictionary</h1>
  <h4 style="text-align: center"><em>Every word you have ever dreamed of</em></h4>
</div>

<div class="output">

  <a href="/words">See Your List of Words</a>
  <a href="/words/new"></a>
</div>
