<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dictionary</title>

    <!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="styles/main.css"> -->

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="scripts/scripts.js" charset="utf-8"></script>

    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  </head>
  <header>
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Dictionary</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/about">About</a></li>
        <li><a href="/words">List of Words</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal" href="/words/new">
        <i class="material-icons">+</i>
      </a>
    </div>
  </nav>
  </header>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  </html>
