<h1>Add A new Word</h1>

  <p>Add a word here:</p>

  <form action="/words" method="post">
    <div class="form-control">
    <label for="name">word:</label>
    <input id="name" name="name" type="text">
  </div>
    <button type="submit" class="btn btn-submit">Add New word</button>
  </form>
